@model CodingChallenge.Web.ViewModels.EmployeeViewModel

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" asp-controller="Employees" method="post">
    <div class="row">
        <div class="col-md-10 offset-1">
            <div class="card">
                <div class="card-header">
                    <span class="card-title">Employee Info</span>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" oninput="Calculation()" required />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" required />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-10 offset-1 mt-2">
            <div class="card">
                <div class="card-header">
                    <span class="card-title">Dependent Info</span>
                </div>
                <div class="card-body">
                    <div class="col-12" id="dependents">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="col-form-label">First Name</label>
                            </div>
                            <div class="col-md-3">
                                <label class="col-form-label">Last Name</label>
                            </div>
                            <div class="col-md-4">
                                <label class="col-form-label">Dependent Type</label>
                            </div>
                            <div class="col-md-1">

                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" name="DependentFirstName[]" class="form-control form-control-sm" oninput="Calculation()" required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" name="DependentLastName[]" class="form-control form-control-sm" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select class="custom-select custom-select-sm" name="DependentType[]" required>
                                        <option value="">-Select One-</option>
                                        <option value="1">Children</option>
                                        <option value="2">Spouse</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-sm btn-success" type="button" id="add">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 offset-1 mt-2">
            <div class="card">
                <div class="card-header">
                    <span class="card-title">Calculation Preview</span>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="payCheck" class="col-sm-3 col-form-label">Cost Per Paycheck:</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="text" readonly class="form-control" id="payCheck" value="0">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="yearlyCost" class="col-sm-3 col-form-label">Yearly Cost:</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="text" readonly class="form-control" id="yearlyCost" value="0">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12" id="discountInfo">
                            <div class="alert alert-info text-center">
                                10% discount applied to
                                <span class="font-weight-bold" id="discountMembers">0</span> of
                                <span class="font-weight-bold" id="totalMembers">0</span> members
                                whose first name starts with 'A'
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <input type="submit" value="Save" class="btn btn-primary float-right" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        $(document).ready(function () {
            $('#discountInfo').hide();
        });

        var initialDepententAddLenght = 1;
        var maximunDependentAddLength = 15;
        $('#add').click(function () {
            if (initialDepententAddLenght < maximunDependentAddLength) {
                initialDepententAddLenght++;
                $('#dependents').append(`
                       <div class="row">
                               <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" name="DependentFirstName[]" class="form-control form-control-sm" oninput="Calculation()">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" name="DependentLastName[]" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select class="custom-select custom-select-sm" name="DependentType[]">
                                            <option value="">-Select One-</option>
                                            <option value="1">Children</option>
                                            <option value="2">Spouse</option>
                                        </select>
                                    </div>
                                </div>
                            <div class="col-md-1">
                                <button class="btn btn-sm btn-danger" type="button" id="remove">-</button>
                            </div>
                        </div>
                        `);
            }
        });

        //Once remove button is clicked
        $('#dependents').on('click', '#remove', function (e) {
            e.preventDefault();
            $(this).parent().parent().remove();
            Calculation();
            initialDepententAddLenght--;
        });


        function Calculation() {
            let amount = 1000;
            let totalMembers = 1;
            let discountMember = 0;

            let firstName = $('#FirstName').val();

            if (firstName.charAt(0).toUpperCase() === "A") {
                discountMember++;
                amount = (amount - ((amount * 10) / 100));
            }

            $("#dependents .row").each(function (i) {
                totalMembers++;
                var dependFirstName = $(this).find('.form-group:eq(0) input').val();
                if (dependFirstName.length > 0) {
                    if (dependFirstName.charAt(0).toUpperCase() === "A") {
                        discountMember++;
                        amount += (500 - ((500 * 10) / 100));
                    } else {
                        amount += 500;
                    }
                }
            });

            $('#payCheck').val((amount / 26).toFixed(2));
            $('#yearlyCost').val(amount);
            $('#discountMembers').text(discountMember);
            $('#totalMembers').text(totalMembers);

            if (discountMember > 0) {
                $('#discountInfo').show();
            } else {
                $('#discountInfo').hide();
            }
        }
    </script>
}
