@model CodingChallenge.Web.ViewModels.EmployeeViewModel

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" asp-controller="Employee" method="post">
    <div class="row">
        <div class="col-md-10 offset-1">
            <div class="card">
                <div class="card-header">
                    <span class="card-title">Employee Info</span>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" oninput="Calculation()" required />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" required />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-10 offset-1 mt-2">
            <div class="card">
                <div class="card-header">
                    <span class="card-title">Dependent Info</span>
                </div>
                <div class="card-body">
                    <div class="col-12" id="dependents">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="col-form-label">First Name</label>
                            </div>
                            <div class="col-md-3">
                                <label class="col-form-label">Last Name</label>
                            </div>
                            <div class="col-md-4">
                                <label class="col-form-label">Dependent Type</label>
                            </div>
                            <div class="col-md-1">

                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" name="DependentFirstName[]" class="form-control form-control-sm" oninput="Calculation()" required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" name="DependentLastName[]" class="form-control form-control-sm" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select class="custom-select custom-select-sm" name="DependentType[]" required>
                                        <option value="">-Select One-</option>
                                        <option value="1">Children</option>
                                        <option value="2">Spouse</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-sm btn-success" type="button" id="btnAddDependent">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 offset-1 mt-2">
            <div class="card">
                <div class="card-header">
                    <span class="card-title">Benefits Calculation</span>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="perPayCheck" class="col-sm-3 col-form-label">Cost Per Paycheck:</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="text" readonly class="form-control" id="perPayCheck" value="0">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="yearlyCost" class="col-sm-3 col-form-label">Yearly Cost:</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="text" readonly class="form-control" id="yearlyCost" value="0">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12" id="discountInfo">
                            <div class="alert alert-info text-center">
                                10% discount has been applied to
                                <span class="font-weight-bold" id="discountMembers">0</span> of
                                <span class="font-weight-bold" id="totalMembers">0</span> members
                                whose first name starts with 'A'
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <input type="submit" value="Save" class="btn btn-primary float-right" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

